.row
  .col-sm-2
    = hero.code_name
  .col-sm-2
    = hero.real_name
  .col-sm-2
    = hero.base_of_operation ? hero.base_of_operation.name : '<Unknown>'
  .col-sm-2
    = hero.sidekick_count
  .col-sm-3
    = link_to 'Show', hero, remote: true
    - if policy(hero).update?
      = link_to 'Edit', edit_hero_path(hero)
    - if policy(hero).destroy?
      = link_to 'Destroy', hero, remote: true, method:  :delete, data: { :confirm => 'Are you sure?' }
